* {
	text-align: center;
	font-size: 20px;
}

body {
    background: lightcoral;
	padding-top: 100px;
}

a {
	color: white;
}

a:hover {
	color: #dfdfdf;
}

div {
    min-width: 500px;
    min-height: 250px;
    background: lightcoral;
    text-decoration: none;
}

div.num {
    max-height: 200px;
    min-height: 100px;
}

div.bold {
    font-weight: bold;
}

div.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
	font-size: 185%;
}
